<div id="body">
    <ul id="contacts"></ul>
</div>

<form id="saveContactForm" method="post">
    <h3>Create new contact</h3>
    <p>
        <label for="contactId">Contact Id: </label>
        <input type="text" name="Id" id="contactId"/>
    </p>
    <p>
        <label for="contactName">Contact Name: </label>
        <input type="text" name="Name" id ="contactName"/>
    </p>
    <input type="button" id="saveContact" value="Save" />
</form>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $.getJSON('/api/contact',
                (contactsJsonPayload) => {
                    $(contactsJsonPayload).each((i, item) => {
                        $('#contacts').append('<li>' + item.Name + '</li>');
                    });
                });
        });
        $('#saveContact').click(() => {
            $.post('/api/contact',
                $('#saveContactForm').serialize(),
                value => {
                    console.log(value);
                    $('#contacts').append('<li>' + value.Name + '</li>');
                },
                "json"
            );
        });
    </script>
}