@model GamexService.ViewModel.ChangePasswordViewModel

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- change password form ========================================================== -->

            @using (Html.BeginForm("Test", "Account", FormMethod.Post))
            {

                <div class="form-group">
                    @Html.LabelFor(m => m.CurrentPassword)
                    @Html.PasswordFor(m => m.CurrentPassword, new
                    {
                        @class = "form-control form-control-sm"
                    })
                </div>
@*                 <label for="password">Current Password</label> *@
@* *@
@*                 <input class="form-control form-control-sm" type="password" name="oldPassword" value="" required minLength="8"> *@
@*                 <label for="password">New Password</label> *@
@*                 <input class="form-control form-control-sm" type="password" name="newPassword" id="password" value="" required onkeyup='check();' minLength="8"> *@
@*                 <label for="password">Confirm Password</label> *@
@*                 <input class="form-control form-control-sm" type="password" name="confirmPassword" id="re-password" value="" required onkeyup='check();'> *@


                if (TempData["UPDATE_RESULT"] != null)
                {
                    string result = (string)TempData["UPDATE_RESULT"];
                    string style = "text-success";
                    if (result.Contains("incorrect"))
                    {
                        style = "text-danger";
                    }
                    <div class="@style" id="changePasswordMessage">@result</div>
                }
                <br>
                <span id='message'></span>

                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal" onclick="clearContent()">Cancel</button>
                    <button type="submit" class="btn btn-outline-success">Confirm</button>
                </div>
            }
        </div>

    </div>
</div>


