<div class="row for-exhibition-form">
    <div class="col-sm-12 col-md-8 col-lg-8">
        <label for="QuestionTitle">Question</label>
        <input class="form-control form-control-sm" id="QuestionTitle" name="QuestionTitle"  type="text" value="">
    </div>
    
</div>

<div class="row for-exhibition-form">
    <div class="col-sm-12 col-md-8 col-lg-8" id="proposed-answer-list">
        <label for="answer">Answer </label>
        <div class="entry input-group row">
            <span class="input-group-btn">
                <button class="btn btn-success btn-add" type="button">
                    <i class="fas fa-plus"></i>
                </button>
            </span>
            <input class="form-control" name="Answers[0]" id="Answers[0]" type="text"/>
        </div>
    </div>
</div>

<hr />
<div class="row for-exhibition-form">
    <div class="col-sm-12 col-lg-12">
        <button type="submit" class="btn btn-outline-success">Create</button>
    </div>
</div>
