<div class="row for-exhibition-form">
    <div class="col-sm-12 col-md-8 col-lg-8">
        <label for="QuestionTitle">Question</label>
        <input class="form-control form-control-sm" id="QuestionTitle" name="QuestionTitle" type="text" value="">
    </div>
</div>
<hr />
<div class="row for-exhibition-form">
    <div class="col-sm-12 col-lg-12">
        <button type="submit" class="btn btn-outline-success">Create</button>
    </div>
</div>