USE [master]
GO
/****** Object:  Database [GAMEX]    Script Date: 2/20/2019 12:23:10 AM ******/
CREATE DATABASE [GAMEX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GAMEX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\GAMEX.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GAMEX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\GAMEX_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GAMEX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GAMEX]
GO
/****** Object:  Table [dbo].[AccountBookmark]    Script Date: 2/20/2019 12:23:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountBookmark](
	[AccountId] [nvarchar](128) NOT NULL,
	[BookmarkDate] [datetime] NOT NULL,
	[AccountBookmark] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_AccountBookmark] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC,
	[AccountBookmark] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountStatus]    Script Date: 2/20/2019 12:23:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_AccountStatus] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityHistory]    Script Date: 2/20/2019 12:23:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityHistory](
	[ActivityId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [nvarchar](128) NOT NULL,
	[Activity] [nvarchar](100) NOT NULL,
	[Time] [datetime] NOT NULL,
 CONSTRAINT [PK_ActivityHistory] PRIMARY KEY CLUSTERED 
(
	[ActivityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agenda]    Script Date: 2/20/2019 12:23:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agenda](
	[AgendaId] [int] IDENTITY(1,1) NOT NULL,
	[ExhibitionId] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[Activity] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Agenda] PRIMARY KEY CLUSTERED 
(
	[AgendaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2/20/2019 12:23:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2/20/2019 12:23:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2/20/2019 12:23:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2/20/2019 12:23:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2/20/2019 12:23:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Hometown] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Point] [int] NOT NULL,
	[TotalPointEarned] [int] NOT NULL,
	[CompanyId] [int] NULL,
	[QR] [varchar](50) NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booth]    Script Date: 2/20/2019 12:23:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booth](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QR] [varchar](50) NULL,
	[Booth] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[ExhibitionId] [int] NOT NULL,
 CONSTRAINT [PK_Booth] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 2/20/2019 12:23:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Email] [nvarchar](256) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Address] [nvarchar](200) NULL,
	[Location] [geography] NULL,
	[Logo] [nvarchar](50) NULL,
	[QR] [varchar](50) NULL,
	[Website] [varchar](50) NULL,
	[StatusId] [int] NOT NULL,
	[TaxNumber] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyBookmark]    Script Date: 2/20/2019 12:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyBookmark](
	[AccountId] [nvarchar](128) NOT NULL,
	[BookmarkDate] [datetime] NOT NULL,
	[CompanyBookmark] [int] NOT NULL,
 CONSTRAINT [PK_CompanyBookmark] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC,
	[CompanyBookmark] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyStatus]    Script Date: 2/20/2019 12:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_CompanyStatus] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exhibition]    Script Date: 2/20/2019 12:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exhibition](
	[ExhibitionId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Address] [nvarchar](200) NULL,
	[OrganizerId] [nvarchar](128) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Location] [geography] NULL,
	[Logo] [varchar](50) NOT NULL,
	[QR] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[ExhibitionCode] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_Exhibition] PRIMARY KEY CLUSTERED 
(
	[ExhibitionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExhibitionAttendee]    Script Date: 2/20/2019 12:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExhibitionAttendee](
	[ExhibitionId] [int] NOT NULL,
	[AccountId] [nvarchar](128) NOT NULL,
	[CheckinTime] [datetime] NULL,
	[BookmarkDate] [datetime] NULL,
 CONSTRAINT [PK_ExhibitionAttendee] PRIMARY KEY CLUSTERED 
(
	[ExhibitionId] ASC,
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProposedAnswer]    Script Date: 2/20/2019 12:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProposedAnswer](
	[ProposedAnswerId] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[Content] [nvarchar](100) NULL,
 CONSTRAINT [PK_ProposedAnswer] PRIMARY KEY CLUSTERED 
(
	[ProposedAnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 2/20/2019 12:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[SurveyId] [int] NOT NULL,
	[QuestionNo] [int] NOT NULL,
	[QuestionType] [int] NOT NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reward]    Script Date: 2/20/2019 12:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reward](
	[RewardId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[Content] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[PointCost] [int] NOT NULL,
	[CreatedBy] [nvarchar](128) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndtDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Reward] PRIMARY KEY CLUSTERED 
(
	[RewardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RewardHistory]    Script Date: 2/20/2019 12:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RewardHistory](
	[RewardId] [int] NOT NULL,
	[ExchangedDate] [datetime] NOT NULL,
	[AccountId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_RewardHistory] PRIMARY KEY CLUSTERED 
(
	[RewardId] ASC,
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Survey]    Script Date: 2/20/2019 12:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Survey](
	[SurveyId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Point] [int] NOT NULL,
	[AccountId] [nvarchar](128) NOT NULL,
	[CompanyId] [int] NULL,
	[ExhibitionId] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Survey] PRIMARY KEY CLUSTERED 
(
	[SurveyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SurveyAnswer]    Script Date: 2/20/2019 12:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurveyAnswer](
	[QuestionId] [int] NOT NULL,
	[ProposedAnswerId] [int] NOT NULL,
	[AccountId] [nvarchar](128) NOT NULL,
	[SurveyId] [int] NOT NULL,
	[Other] [nvarchar](100) NULL,
 CONSTRAINT [PK_SurveyAnswer] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC,
	[ProposedAnswerId] ASC,
	[AccountId] ASC,
	[SurveyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SurveyParticipation]    Script Date: 2/20/2019 12:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurveyParticipation](
	[AccountId] [nvarchar](128) NOT NULL,
	[SurveyId] [int] NOT NULL,
	[CompleteDate] [datetime] NOT NULL,
 CONSTRAINT [PK_SurveyParticipation] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC,
	[SurveyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AccountStatus] ON 

INSERT [dbo].[AccountStatus] ([StatusId], [Status]) VALUES (1, N'Pending')
INSERT [dbo].[AccountStatus] ([StatusId], [Status]) VALUES (2, N'Activated')
INSERT [dbo].[AccountStatus] ([StatusId], [Status]) VALUES (3, N'Deactivated')
SET IDENTITY_INSERT [dbo].[AccountStatus] OFF
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'5a101ef4-b073-4538-be24-ca75475e77d6', N'Company')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'81c8eb35-cf2f-4d0f-ac60-77f22f2d38bd', N'User')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'e5c3eff3-28f3-4636-a859-a6bd68afe25e', N'Admin')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'79d649b1-ccd8-4063-a885-4291e0abdfb5', N'5a101ef4-b073-4538-be24-ca75475e77d6')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'81cca029-7a8e-4c39-8e88-42408b79ada9', N'e5c3eff3-28f3-4636-a859-a6bd68afe25e')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'a0fe89f2-4278-441c-8f14-b13711c0dd81', N'5a101ef4-b073-4538-be24-ca75475e77d6')
INSERT [dbo].[AspNetUsers] ([Id], [Hometown], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName], [Point], [TotalPointEarned], [CompanyId], [QR], [StatusId]) VALUES (N'79d649b1-ccd8-4063-a885-4291e0abdfb5', NULL, N'translogic2101@gmail.com', 0, N'AIlddxNtlOqYNn94gKBgjozU3ln36LEwBpNhkH0YPDq58mp1mwmWJJ9hZY8d/s3QBg==', N'0294ebd7-ea3b-4757-9b01-4a04e56a201b', NULL, 0, 0, NULL, 1, 0, N'nhanthien2101', N'Nhan', N'Tran', 0, 0, 2, NULL, 1)
INSERT [dbo].[AspNetUsers] ([Id], [Hometown], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName], [Point], [TotalPointEarned], [CompanyId], [QR], [StatusId]) VALUES (N'a0fe89f2-4278-441c-8f14-b13711c0dd81', NULL, N'translogix2101@gmail.com', 0, N'AIe/5DV5z7AIppfzViKEqUyv9OVswsyuQiRI9GNwt3LxYdoWZvbxbf6o0VUmk3hq+A==', N'273d47a6-b2f6-43f5-bb72-d5c5983060f1', NULL, 0, 0, NULL, 1, 0, N'thiennhan', N'Nhân', N'Trần', 0, 0, 4, NULL, 1)
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([CompanyId], [Name], [Description], [Email], [Phone], [Address], [Location], [Logo], [QR], [Website], [StatusId], [TaxNumber]) VALUES (2, N'CÔNG TY CỔ PHẦN VIET TILES', NULL, N'viettiles@mailprotech.com', NULL, NULL, NULL, NULL, NULL, NULL, 2, N'TN002')
INSERT [dbo].[Company] ([CompanyId], [Name], [Description], [Email], [Phone], [Address], [Location], [Logo], [QR], [Website], [StatusId], [TaxNumber]) VALUES (4, N'CÔNG TY TNHH VITTO - VP', NULL, N'vitto@ask-mail.com', NULL, NULL, NULL, NULL, NULL, NULL, 2, N'TN001')
INSERT [dbo].[Company] ([CompanyId], [Name], [Description], [Email], [Phone], [Address], [Location], [Logo], [QR], [Website], [StatusId], [TaxNumber]) VALUES (5, N'CÔNG TY CỔ PHẦN HISUNG SÀI GÒN', NULL, N'hisung@ask-mail.com', NULL, NULL, NULL, NULL, NULL, NULL, 2, N'TN003')
SET IDENTITY_INSERT [dbo].[Company] OFF
SET IDENTITY_INSERT [dbo].[CompanyStatus] ON 

INSERT [dbo].[CompanyStatus] ([StatusId], [Status]) VALUES (1, N'Pending')
INSERT [dbo].[CompanyStatus] ([StatusId], [Status]) VALUES (2, N'Activated')
INSERT [dbo].[CompanyStatus] ([StatusId], [Status]) VALUES (3, N'Deactivated')
SET IDENTITY_INSERT [dbo].[CompanyStatus] OFF
ALTER TABLE [dbo].[AccountBookmark]  WITH CHECK ADD  CONSTRAINT [FK_AccountBookmark_AspNetUsers_1] FOREIGN KEY([AccountId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AccountBookmark] CHECK CONSTRAINT [FK_AccountBookmark_AspNetUsers_1]
GO
ALTER TABLE [dbo].[AccountBookmark]  WITH CHECK ADD  CONSTRAINT [FK_AccountBookmark_AspNetUsers_2] FOREIGN KEY([AccountBookmark])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AccountBookmark] CHECK CONSTRAINT [FK_AccountBookmark_AspNetUsers_2]
GO
ALTER TABLE [dbo].[ActivityHistory]  WITH CHECK ADD  CONSTRAINT [FK_ActivityHistory_AspNetUsers] FOREIGN KEY([AccountId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ActivityHistory] CHECK CONSTRAINT [FK_ActivityHistory_AspNetUsers]
GO
ALTER TABLE [dbo].[Agenda]  WITH CHECK ADD  CONSTRAINT [FK_Agenda_Exhibition] FOREIGN KEY([ExhibitionId])
REFERENCES [dbo].[Exhibition] ([ExhibitionId])
GO
ALTER TABLE [dbo].[Agenda] CHECK CONSTRAINT [FK_Agenda_Exhibition]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_AccountStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[AccountStatus] ([StatusId])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_AccountStatus]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyId])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Company]
GO
ALTER TABLE [dbo].[Booth]  WITH CHECK ADD  CONSTRAINT [FK_Booth_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyId])
GO
ALTER TABLE [dbo].[Booth] CHECK CONSTRAINT [FK_Booth_Company]
GO
ALTER TABLE [dbo].[Booth]  WITH CHECK ADD  CONSTRAINT [FK_Booth_Exhibition] FOREIGN KEY([ExhibitionId])
REFERENCES [dbo].[Exhibition] ([ExhibitionId])
GO
ALTER TABLE [dbo].[Booth] CHECK CONSTRAINT [FK_Booth_Exhibition]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_CompanyStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[CompanyStatus] ([StatusId])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_CompanyStatus]
GO
ALTER TABLE [dbo].[CompanyBookmark]  WITH CHECK ADD  CONSTRAINT [FK_CompanyBookmark_AspNetUsers] FOREIGN KEY([AccountId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[CompanyBookmark] CHECK CONSTRAINT [FK_CompanyBookmark_AspNetUsers]
GO
ALTER TABLE [dbo].[CompanyBookmark]  WITH CHECK ADD  CONSTRAINT [FK_CompanyBookmark_Company] FOREIGN KEY([CompanyBookmark])
REFERENCES [dbo].[Company] ([CompanyId])
GO
ALTER TABLE [dbo].[CompanyBookmark] CHECK CONSTRAINT [FK_CompanyBookmark_Company]
GO
ALTER TABLE [dbo].[Exhibition]  WITH CHECK ADD  CONSTRAINT [FK_Exhibition_AspNetUsers] FOREIGN KEY([OrganizerId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Exhibition] CHECK CONSTRAINT [FK_Exhibition_AspNetUsers]
GO
ALTER TABLE [dbo].[ExhibitionAttendee]  WITH CHECK ADD  CONSTRAINT [FK_ExhibitionAttendee_AspNetUsers] FOREIGN KEY([AccountId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ExhibitionAttendee] CHECK CONSTRAINT [FK_ExhibitionAttendee_AspNetUsers]
GO
ALTER TABLE [dbo].[ExhibitionAttendee]  WITH CHECK ADD  CONSTRAINT [FK_ExhibitionAttendee_Exhibitio] FOREIGN KEY([ExhibitionId])
REFERENCES [dbo].[Exhibition] ([ExhibitionId])
GO
ALTER TABLE [dbo].[ExhibitionAttendee] CHECK CONSTRAINT [FK_ExhibitionAttendee_Exhibitio]
GO
ALTER TABLE [dbo].[ProposedAnswer]  WITH CHECK ADD  CONSTRAINT [FK_ProposedAnswer_Question] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Question] ([QuestionId])
GO
ALTER TABLE [dbo].[ProposedAnswer] CHECK CONSTRAINT [FK_ProposedAnswer_Question]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Survey] FOREIGN KEY([SurveyId])
REFERENCES [dbo].[Survey] ([SurveyId])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Survey]
GO
ALTER TABLE [dbo].[Reward]  WITH CHECK ADD  CONSTRAINT [FK_Reward_AspNetUsers] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Reward] CHECK CONSTRAINT [FK_Reward_AspNetUsers]
GO
ALTER TABLE [dbo].[RewardHistory]  WITH CHECK ADD  CONSTRAINT [FK_RewardHistory_AspNetUsers] FOREIGN KEY([AccountId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[RewardHistory] CHECK CONSTRAINT [FK_RewardHistory_AspNetUsers]
GO
ALTER TABLE [dbo].[RewardHistory]  WITH CHECK ADD  CONSTRAINT [FK_RewardHistory_Reward] FOREIGN KEY([RewardId])
REFERENCES [dbo].[Reward] ([RewardId])
GO
ALTER TABLE [dbo].[RewardHistory] CHECK CONSTRAINT [FK_RewardHistory_Reward]
GO
ALTER TABLE [dbo].[Survey]  WITH CHECK ADD  CONSTRAINT [FK_Survey_AspNetUsers] FOREIGN KEY([AccountId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Survey] CHECK CONSTRAINT [FK_Survey_AspNetUsers]
GO
ALTER TABLE [dbo].[Survey]  WITH CHECK ADD  CONSTRAINT [FK_Survey_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyId])
GO
ALTER TABLE [dbo].[Survey] CHECK CONSTRAINT [FK_Survey_Company]
GO
ALTER TABLE [dbo].[Survey]  WITH CHECK ADD  CONSTRAINT [FK_Survey_Exhibition] FOREIGN KEY([ExhibitionId])
REFERENCES [dbo].[Exhibition] ([ExhibitionId])
GO
ALTER TABLE [dbo].[Survey] CHECK CONSTRAINT [FK_Survey_Exhibition]
GO
ALTER TABLE [dbo].[SurveyAnswer]  WITH CHECK ADD  CONSTRAINT [FK_SurveyAnswer_AspNetUsers] FOREIGN KEY([AccountId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SurveyAnswer] CHECK CONSTRAINT [FK_SurveyAnswer_AspNetUsers]
GO
ALTER TABLE [dbo].[SurveyAnswer]  WITH CHECK ADD  CONSTRAINT [FK_SurveyAnswer_ProposedAnswer] FOREIGN KEY([ProposedAnswerId])
REFERENCES [dbo].[ProposedAnswer] ([ProposedAnswerId])
GO
ALTER TABLE [dbo].[SurveyAnswer] CHECK CONSTRAINT [FK_SurveyAnswer_ProposedAnswer]
GO
ALTER TABLE [dbo].[SurveyAnswer]  WITH CHECK ADD  CONSTRAINT [FK_SurveyAnswer_Question] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Question] ([QuestionId])
GO
ALTER TABLE [dbo].[SurveyAnswer] CHECK CONSTRAINT [FK_SurveyAnswer_Question]
GO
ALTER TABLE [dbo].[SurveyAnswer]  WITH CHECK ADD  CONSTRAINT [FK_SurveyAnswer_Survey] FOREIGN KEY([SurveyId])
REFERENCES [dbo].[Survey] ([SurveyId])
GO
ALTER TABLE [dbo].[SurveyAnswer] CHECK CONSTRAINT [FK_SurveyAnswer_Survey]
GO
ALTER TABLE [dbo].[SurveyParticipation]  WITH CHECK ADD  CONSTRAINT [FK_SurveyParticipation_AspNetUser] FOREIGN KEY([AccountId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SurveyParticipation] CHECK CONSTRAINT [FK_SurveyParticipation_AspNetUser]
GO
ALTER TABLE [dbo].[SurveyParticipation]  WITH CHECK ADD  CONSTRAINT [FK_SurveyParticipation_Survey] FOREIGN KEY([SurveyId])
REFERENCES [dbo].[Survey] ([SurveyId])
GO
ALTER TABLE [dbo].[SurveyParticipation] CHECK CONSTRAINT [FK_SurveyParticipation_Survey]
GO
USE [master]
GO
