

@{
    ViewBag.Title = "Create Question";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts
{

    @if (ViewBag.IsSuccessful != null)
    {
        if (ViewBag.IsSuccessful)
        {
            <script type="text/javascript">
                $('#successModal').modal();
            </script>
        }
        else
        {
            <script type="text/javascript">
                $('#failModal').modal();
            </script>
        }
    }
    <script type="text/javascript" src="~/Scripts/add.question.util.js"></script>
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <nav class="navbar navbar-expand-xs navbar-light" style="margin-bottom: 1rem; background-color: #e9ecef; border-radius: 0.25rem;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Survey Detail", "UpcomingSurveyDetail", "Company", new { }, new { @class = "nav-link" })
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarQuestion" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Question
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarQuestion">
                        @* id = Model.SurveyId, exhibitionId = Model.ExhibitionId *@
                        @Html.ActionLink("Create Question", "CreateQuestion", "Company", new { }, new { @class = "dropdown-item" })
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-question-circle fa-fw menu-icon" style="display: inline;"></i> Create Question
        </div>
        <div class="card-body">
                @using (Html.BeginForm("CreateQuestion", "Company", FormMethod.Post, new { id = "create-question-form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row for-exhibition-form">
                        <div class="col-sm-4">
                            <label for="QuestionType">Type of question</label>
                            <select class="form-control" id="QuestionType" name="QuestionType">
                                <option value="-1">--Select type--</option>
                                <option value="1">Text</option>
                                <option value="2">Select one</option>
                                <option value="3">Select multiple</option>
                            </select>
                        </div>
                    </div>
                    <div id="partial-view"></div>
                }
        </div>
    </div>
</div>

<div id="successModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box-success">
                    <i class="fas fa-check"></i>
                </div>
                <h4 class="modal-title">Success!</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Submit successfully</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="failModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box-fail">
                    <i class="fas fa-times"></i>
                </div>
                <h4 class="modal-title">Error!</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Submit unsuccessfully</p>
                <p class="text-center">Please try again later</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

