
@{
    ViewBag.Title = "Employee Join List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts
{
    <!--Bổ sung script để load table order-->
    @Scripts.Render("~/bundles/datatableCompanyEmployeeRequest")
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Register Request</li>
    </ol>

    <!-- Content-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-user-circle fa-fw menu-icon"></i> Register Request

        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

