
@{
    ViewBag.Title = "Past Exhibition";
    ViewBag.PastExhibition
        = "active";
    ViewBag.Exhibition = "active";
    ViewBag.ViewExhibitionDropDownShow = "show";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundles/datatablePastEvent")
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Exhibition List</li>
    </ol>

    <!-- Content-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="menu-icon fa-fw fas fa-calendar-alt"></i> Past Exhibition

        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Time</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>