
@{
    ViewBag.Title = "Company List";
    ViewBag.CompanyList = "active";
    ViewBag.ManageCompany = "active";
    ViewBag.ManageCompanyDropDownShow = "show";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundles/datatableCompanyList")
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Company List</li>
    </ol>

    <!-- Content-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-building fa-fw menu-icon"></i> Company List

        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Tax Number</th>
                        <th>Email</th>
                        @* <th>Action</th> *@
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

