
@{
    ViewBag.Title = "Company Request";
    ViewBag.ManageCompany = "active";
    ViewBag.CompanyRequest = "active";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ViewCompanyRequest</h2>

